mixin videoPlayer(video={})
    .videoPlayer#jsVideoPlayer
        video#jsVideo(data-id=video.id, src=(src=`/${video.src}`), autoplay)
        .videoPlayer__Bar
            input.videoPlayer__progressBar#jsProgressRangeBar(type="range", min="0", max="100", step="0.0001", value="0")
            .videoPlayer__controls#jsControlBar
                .videoPlayer__column
                    span#jsLeftBtn
                        i.fas.fa-backward
                    span#jsPlayButton
                        i.fas.fa-play
                    span#jsRightBtn
                        i.fas.fa-forward
                    span
                        span#currentTime|00:00:00 
                        | / 
                        sapn#totalTime 00:00:00
                .videoPlayer__column
                    span#jsVolumeButton
                        i.fas.fa-volume-up
                    input.videoPlayer__volume#jsVolume(type="range", min="0", max="1", step="0.01" value="1")
                    span#jsFullScreen
                        i.fas.fa-expand