

.profile__username {
  font-size: 18px;
  margin-top: 14px;
  margin-left: 35px;
}

.user_information{
  background-color: white;
  width: 50%;
  height: 350px;
  margin-left: 300px;
}

.user_gap{
  margin-top: 15px;
}

.user_content {
  margin-left: 235px;
}

.user-avatar {
  height: 120px;
  width: 120px;
  background-color: white;
  border-radius: 70%;
  margin-top: 30px;
}

.user__descriptions{
  margin-top: 20px;
}